.texto {
    background-color: pink;
    border-radius: 5px;
    font-size: 20px;
    margin: auto auto;
    padding: 1px 1px;
}
#area {
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
    margin: 30px 20px;
    padding: 8% auto;
    display: flex;
}
#menu {
    display: none;
    font: arial;
    color: #000;
    text-decoration-color: #000;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #000;
}
.logo {
    height: 100px;
    width: 100px;
    padding: auto auto;
    border-radius: 5px;
}
input {
    border-radius: 5px;
    margin: 25px 10px;
    padding: 2px 15px;
    font-size: 20px;
    display: inline-flex;
    height: auto;
    width: 160px;
}
.cabecalho {
    display: flex;
    margin: 5px;
    padding: auto;
    width: 40%;
    height: 50%;
    font-size: 25px;
}
#destaque {
    text-align: center;
}
button {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    font-size: 20px;
    border: none;
    background-color: rgb(253, 133, 179);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button .fa-search {
    margin-right: 5px; /* Espaço entre o ícone e o texto */
    display: flex;
}

#container {
    width: 100%;
    height: 200px;
    overflow-x: scroll; /* Permitindo rolagem horizontal */
    white-space: nowrap;
    border: 0px solid #000;
    scrollbar-width: none; /* Firefox */
    border-radius: 5px;   
}
#container::-webkit-scrollbar {
    display: none; /* Webkit (Chrome, Safari) */
}
.item {
    display: inline-block;
    width: 20%;
    height: 80%;
    background-color: #4CAF50;
    margin-right: 5px;
}
h3 { /* Tamanho dos botões para acesso aos kits! */
    background-color:rgb(253, 133, 179);
    color: aliceblue;
    padding: 1%;
    margin: 10px;
    height: 50px;
    width: 10px;
    line-height: auto;
    text-align: center;
    display: inline-table;
    border-radius: 5px;
    border: #000 1px solid;  
    font-weight: bold; 
    
}
h2 {
    color: #000000;
}
