/*body {
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}*/

#menu {
    display: none; /* Menu oculto por padrão */
  }
button {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    font-size: 20px;
    border: none;
    background-color: rgb(253, 133, 179);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.texto {
    background-color: pink;
    border-radius: 5px;
    font-size: 20px;
    margin: auto auto;
    padding: 1px 1px;
}
footer {
    background-color: pink;
    padding: 50px;
    border-radius: 5px;
    border: black 3px solid;
}